@import url('https://fonts.googleapis.com/css?family=Lobster');

.footer{
	clear: both;
    border-top: 1px solid #606060;
    background: #ecf0f1;
    color: #666;
    text-align: center;
    padding: 1em;
    position:absolute;
    bottom:0;
    width:100%;
}

.span6{
    text-align: center;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

.perfil{
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    padding: 0px;
}

#fontes{
    font-family: 'Lobster', cursive;
    font-size: 90px;
    color: #337ab7;
}

h2#fontes{
    font-size: 70px;
}