@charset "UTF-8";

body{
	background-color: #eeeeee;
}

div#login{
	text-align: center;
	border: solid;
	border-radius: 10px;
	margin: 50px;
}

form{
	border: none;
	margin-left: 100px;
	margin-right: 100px;
}

.imagem{
	width: 10%;
	height: 100%;
	padding-top: 20px;
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

label{
	display: inline-block;
	max-width: 100%;
	font-weight: 700;
}
#l1{
	color: black;
	font-family: Century Gothic, monospace;
}
		
.bt{
	background-color:#1C1C1C;
	color: #FFFFFF;
	border: 0px;
	width: 75px;
	height: 25px;
}

/*Botão*/

.btn-block{
	display: block;
	width: 100%;
}

.btn-primary{
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-lg{
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}

.btn{
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}

/* Copyright */

footer#rodape{
    clear: both;
    text-align: center;
}
