@charset "UTF-8";

body{
	background-color: #eeeeee;
}

div#login{
	text-align: center;
	border: solid;
	border-radius: 10px;
	margin: 50px;
}

.imagem{
	width: 10%;
	height: 100%;
	padding-top: 20px;
}

#l1{
	color: black;
	font-family: Century Gothic, monospace;
}
		
.bt{
	background-color:#1C1C1C;
	color: #FFFFFF;
	border: 0px;
	width: 75px;
	height: 25px;
}

/* Copyright */

footer#rodape{
    clear: both;
    text-align: center;
}
