// Cores
$primaryColor: #337ab7;

// Extra small devices
$xs: 'screen and (max-width: 575.9px)';

// Small devices (landscape phones, 576px and up)
$sm: 'screen and (min-width: 576px)';

// Medium devices (tablets, 768px and up)
$md: 'screen and (min-width: 768px)';

// Large devices (desktops, 992px and up)
$lg: 'screen and (min-width: 992px)';

// Extra large devices (large desktops, 1200px and up)
$xl: 'screen and (min-width: 1200px)';