body{
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../img/bg-pag.jpg");
}

.jumbotron{
	text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    background-color: transparent;
}

.span6{
    text-align: center;
}

.perfil{
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    padding: 0px;
}

#fontes{
    font-family: 'Lobster', cursive;
    font-size: 90px;
    color: #337ab7;
}

h2#fontes{
    font-size: 70px;
}

tbody{
    background-color: white;
}

#tabela{
    font-family: 'Lobster', cursive;
    color: #337ab7;
}

p#else{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #337ab7;
    text-align: center;
}

/* LOGIN */
div#login{
	text-align: center;
	margin-right: 40%;
	margin-left: 40%;
}

/* FOOTER */
footer{
	clear: both;
  background-color: #ecf0f1;
  color: #666;
  text-align: center;
  padding: 1em;
  position:absolute;
  bottom:0;
  width:100%;
}
