tbody{
    background-color: white;
}

#tabela{
    font-family: 'Lobster', cursive;
    color: #337ab7;
}

p#else{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #337ab7;
    text-align: center;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
