@charset "UTF-8";

body {
    background: {
        color: #eeeeee;
        image: url("../img/bg-pag.jpg");
        repeat: no-repeat;
        size: cover;
    }
}

a {
    color: black;
    text-decoration: none;
}

label {
    color: black;
    font-family: Century Gothic, monospace;
    position: absolute;
    left: 550px;
    margin-right: 5px;
}

tbody {
    background-color: white;
}

form {
    border: none;
}

footer {
    clear: both;
    background-color: #ecf0f1;
    color: #666;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}